transformers
scipy
nemo_toolkit[asr]
git+https://github.com/huggingface/parler-tts.git
protobuf
sentencepiece
accelerate
bitsandbytes
onnx
onnxruntime
onnxruntime-gpu
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
numpy<2.0.0
git+https://github.com/VarunGumma/IndicTransToolkit.git
