
# Requirements for Advanced HF Pipeline
torch
torchaudio
transformers
scipy
nemo_toolkit[asr]
git+https://github.com/huggingface/parler-tts.git
google-genai
python-dotenv
protobuf
sentencepiece
accelerate
bitsandbytes
onnx
onnxruntime
onnxruntime-gpu
