Flask==3.0.0
flask-cors==4.0.0
soundfile==0.12.1
google-genai
groq==0.4.2
python-dotenv==1.0.0
deep-translator==1.11.4
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
transformers
scipy
nemo_toolkit[asr]
git+https://github.com/huggingface/parler-tts.git
protobuf
sentencepiece
accelerate
bitsandbytes
onnx
onnxruntime
onnxruntime-gpu
numpy<2.0.0
IndicTransToolkit
SpeechRecognition
pyaudio
gTTS
playsound==1.2.2
